@import "projects/epsilon-blueprint/src/styles/_global-variables";

.component-preview
{
  padding: 0;
}

.demo-layout
{
  display: flex;
  height: 500px;

  .demo-main
  {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: $cloud;
    text-align: center;
  }
}