// global styles
@import "./styles/_global-variables";
@import "./styles/typography";
@import "./styles/u-typography";
@import "./styles/u-colors";
@import "./styles/u-spacing";
@import "./styles/u-sizing";
@import "./styles/focus";

// blueprint components
@import "./styles/badges";
@import "./styles/buttons-links";
@import "./styles/dropdowns";
@import "./styles/forms";
@import "./styles/checkboxes";
@import "./styles/status-indicators";
@import "./styles/tables";
@import "./styles/tabs";
@import "./styles/toggletips";

// templates
@import "./styles/object-page-header";

// third-party library theming
@import "./styles/ng-select";
@import "./styles/ng-pick-datetime";
@import "./styles/cui-overrides/modal";
@import "./styles/cui-overrides/notification";

body
{
  color: $font-color-primary;
  font-weight: $font-weight-regular;
  font-size: $font-size-body;
  font-family: $font-family-default;
}

:focus,
button
{
  &:focus
  {
    box-shadow: $box-shadow-focus-default;
    outline: none;
  }
}