@import './global-variables';

.tab
{
    margin-right: 20px;
    border: 0;
    padding: 10px;
    background: transparent;
    color: $font-color-secondary;
    font-size: 15px;
    font-weight: $font-weight-regular;
}

.tab:hover
{
    font-weight: $font-weight-semi-bold;
}

.tab.active
{
    border-bottom: 5px solid $accent-color-secondary;
    color: $font-color-primary;
    font-weight: $font-weight-semi-bold;
}