$ultramarine-30: hsl(214, 100%, 30%);
$ultramarine-40: hsl(214, 100%, 40%);
$ultramarine-45: hsl(214, 100%, 45%);
$ultramarine-50: hsl(214, 100%, 50%);
$ultramarine-60: hsl(214, 100%, 60%);
$ultramarine-65: hsl(214, 100%, 65%);
$ultramarine-70: hsl(214, 100%, 70%);
$ultramarine-75: hsl(214, 100%, 75%);
$ultramarine-80: hsl(214, 100%, 80%);
$ultramarine-85: hsl(214, 100%, 85%);
$ultramarine-90: hsl(214, 100%, 90%);
$ultramarine-97: hsl(216, 100%, 97%);
$slate-10: hsl(0, 0%, 10%);
$slate-13: hsl(0, 0%, 13%);
$slate-15: hsl(0, 0%, 15%);
$slate-17: hsl(0, 0%, 17%);
$slate-20: hsl(0, 0%, 20%);
$slate-25: hsl(0, 0%, 25%);
$slate-30: hsl(0, 0%, 30%);
$slate-40: hsl(0, 0%, 40%);
$slate-45: hsl(0, 0%, 45%);
$slate-50: hsl(0, 0%, 50%);
$slate-55: hsl(0, 0%, 55%);
$slate-60: hsl(0, 0%, 60%);
$slate-70: hsl(0, 0%, 70%);
$slate-80: hsl(0, 0%, 80%);
$slate-90: hsl(0, 0%, 90%);
$slate-95: hsl(0, 0%, 95%);
$slate-97: hsl(0, 0%, 97%);
$slate-100: hsl(0, 0%, 100%);
$apple-30: hsl(350, 88%, 30%);
$apple-45: hsl(350, 89%, 45%);
$apple-50: hsl(350, 89%, 50%);
$apple-60: hsl(350, 88%, 60%);
$apple-70: hsl(350, 88%, 70%);
$apple-75: hsl(350, 89%, 75%);
$apple-85: hsl(350, 89%, 85%);
$apple-97: hsl(351, 87%, 97%);
$lime-25: hsl(112, 84%, 25%);
$lime-35: hsl(112, 84%, 35%);
$lime-40: hsl(112, 84%, 40%);
$lime-97: hsl(111, 87%, 97%);
$plum-50: hsl(264, 56%, 50%);
$plum-60: hsl(264, 56%, 60%);
$plum-70: hsl(264, 56%, 70%);
$plum-97: hsl(264, 60%, 97%);
$pineapple-50: hsl(45, 100%, 50%);
$pineapple-97: hsl(44, 100%, 97%);
$tangerine-50: hsl(16, 100%, 50%);
$tangerine-97: hsl(16, 100%, 97%);