@import '_global-variables.scss';

a
{
	color: $link-color-primary;
	font-weight: $font-weight-semi-bold;
	text-decoration: none;

	&:hover
	{
		text-decoration: underline;
	}
}

button.btn-text,
button.btn-text:disabled
{
  outline: unset;
  border: none;
  padding: 0;
  background: none;
}

button.btn-text:disabled
{
  font-weight: $font-weight-regular;
  
  &:hover{
    text-decoration: none;
  }
}

.btn-text,
.link-primary
{
  color: $accent-color-primary;
  font-weight: $font-weight-semi-bold;

  &:hover
  {
    color: $accent-color-primary;
    text-decoration: underline;
  }
}

.btn
{
  border-radius: 0;
  padding: 5px 10px;
  font-size: $font-size-body;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active
  {
    border-color: transparent;
    background: $storm;
    color: $coconut;
  }
}

.btn-primary
{
  border-color: transparent;
  background: $accent-color-primary;
  color: $coconut;
}

.btn-outline-primary
{
  border-color: $accent-color-primary;
  background: $coconut;
  color: $accent-color-primary;
}

.btn-primary,
.btn-outline-primary
{
  &:not(:disabled):not(.disabled):hover
  {
    border-color: transparent;
    background: $accent-color-primary-hover;
    color: $coconut;
  }
}

.btn-danger
{
  border-color: transparent;
  background: $feedback-color-warning;
  color: $coconut;
}

.btn-outline-danger
{
  border-color: $feedback-color-warning;
  background: $coconut;
  color: $feedback-color-warning;
}

.btn-danger,
.btn-outline-danger
{
  &:not(:disabled):not(.disabled):hover
  {
    border-color: transparent;
    background: $feedback-color-warning-hover;
    color: $coconut;
  }

  &:not(:disabled):not(.disabled):focus
  {
    box-shadow: $box-shadow-focus-warning;
  }
}

.btn-mini
{
  min-width: 60px;
  height: 22px;
  padding: 2px 6px;
}

.btn-wide
{
  min-width: 150px;
}

.btn-block
{
  width: 100%;
}

.btn-group-toggle
{
  display: flex;
}

.btn-toggle
{
  display: block;
  border-color: $border-color-primary;
  background: $coconut;
  color: $font-color-secondary;

  &.btn.btn:not(:disabled).active,
  &:hover
  {
    background: $cornflower;
  }

  &.btn.btn:not(:disabled).active
  {
    border-color: $border-color-primary;
    font-weight: $font-weight-bold;
    color: $font-color-primary;
    box-shadow: inset 0 0 4px 0 $ultramarine;
  }
}

.btn-input-addon
{
  min-width: 30px;
  min-height: 30px;
  border-radius: 0;
  border: 1px solid $accent-color-primary;
  background: $coconut;
  color: $accent-color-primary;

  &:hover
  {
    border-color: $accent-color-primary-hover;
    background: $accent-color-primary-hover;
    color: $coconut;
  }

  &.btn-input-addon-clear
  {
    border-left: 0;
    border-color: $border-color-primary;

    &:hover
    {
      border-color: $border-color-primary;
      background: $coconut;
      color: $accent-color-primary-hover;
    }
  }

  & i:nth-of-type(2n)
  {
    // for input addons with one button and two icons
    // e.g.: date + time pickers with calendar and clock icons
    padding-left: 8px;
  }
}

.btn-icon
{
  width: 30px;
  height: 30px;
  padding: 5px;
}

.btn-icon-inline
{
  width: auto;
  height: auto;
  border: 0;
  padding: 0;
  background: transparent;
  color: $accent-color-primary;

  &:hover
  {
    color: $accent-color-primary-hover;
  }
}

.btn-icon-inline-tooltip
{
  display: inline-flex;
  border: 0;
  padding: 0;
  background: transparent;
  color: $accent-color-primary;
  transform: translateY(3px);

  & .fa-stack
  {
    transform: scale(0.72);
  }

  & .fa-circle
  {
    color: $accent-color-primary;
  }

  & .fas.fa-circle
  {
    display: none;
  }

  & .far.fa-circle
  {
    display: inline-block;
  }

  & .fa-question
  {
    color: $accent-color-primary;
  }

  &:hover
  {
    & .fas.fa-circle
    {
      display: inline-block;
    }

    & .far.fa-circle
    {
      display: none;
    }

    & .fa-question
    {
      color: $coconut;
    }
  }
}

.btn-icon[disabled]
{
  border: 1px solid $haze;
  background: $mist;
  color: $font-color-secondary;
  font-weight: $font-weight-regular;
  cursor: not-allowed;
}

button:disabled,
button[disabled],
.btn:disabled,
.btn[disabled]
{
  border: 1px solid $border-color-secondary;
  background: $mist;
  color: $font-color-secondary;
  opacity: 1;
  cursor: not-allowed;
}

.icon-left
{
  margin-right: 5px;
}

.icon-right
{
  margin-left: 5px;
}
