.dropdown
{
  display: inline-block;
  width: auto;
  max-width: 100%;
}

.dropdown-toggle
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after
  {
    margin-left: 5px;
    font-size: $font-size-lg;
  }
}

.show
{
  & > .btn-primary,
  & > .btn-outline-primary
  {
    &.dropdown-toggle
    {
      border-color: transparent;
      background-color: $accent-color-primary-hover;
    }
  }
}

.dropdown-menu
{
  width: 100%;
  margin: 1px 0 0;
  border-radius: 0;
  border: 1px solid $border-color-primary;
  padding: 4px 0 2px;
  background: $coconut;
  font-size: $font-size-md;
}

.dropdown-item
{
  margin-bottom: 2px;
  padding: 5px 10px;
  white-space: initial;

  &:first-child,
  &:last-child
  {
    border-radius: 0;
  }

  &:hover,
  &:focus
  {
    background: $accent-color-primary;
    color: $coconut;
  }

  &:disabled
  {
    border: none;
    background: transparent;
    color: $font-color-secondary;
    pointer-events: initial;
    cursor: not-allowed;
  }

  &.is-destructive:not(:disabled):not(.disabled)
  {
    color: $feedback-color-warning;

    &:hover
    {
      border-color: transparent;
      background: $feedback-color-warning;
      color: $coconut;
    }

    &:focus
    {
      box-shadow: $box-shadow-focus-warning;
    }
  }
}