// custom theming for owl-date-time

// arrows
.owl-dt-control-arrow-button
{
  color: $accent-color-primary;

  &:hover
  {
    color: $accent-color-primary-hover;
  }
}

// year range when month/year is expanded e.g.: 2016 ~ 2036
.owl-dt-calendar-header
{
  text-align: center;
  color: inherit;
}

// years/dates text
.owl-dt-calendar-table .owl-dt-calendar-cell
{
  color: $font-color-primary;
}

// today's date
.owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected)
{
  border-color: $accent-color-primary;
}

// selected date
.owl-dt-calendar-cell-content.owl-dt-calendar-cell-selected
{
  background: $accent-color-primary
}

// days of the week
.owl-dt-calendar-table .owl-dt-calendar-header
{
  color: $font-color-primary;
}

// inputs for hours and minutes
.owl-dt-timer-content .owl-dt-timer-input
{
  border-radius: 0;
  border-color: $border-color-primary;
  color: $font-color-primary;
}

// colon between hours & minutes
.owl-dt-timer-divider:after,
.owl-dt-timer-divider:before
{
  background: $font-color-primary;
}

// background behind AM/PM toggle
.owl-dt-timer-hour12.ng-star-inserted
{
  &:hover
  {
    background: transparent;
  }
}

// AM/PM toggle
.owl-dt-control-button.owl-dt-timer-hour12-box
{
  width: 30px;
  height: 30px;
  border-radius: 0;
  border-color: $accent-color-primary;
  color: $accent-color-primary;

  &:hover
  {
    border-color: $accent-color-primary-hover;
    background: $accent-color-primary-hover;
    color: $coconut;
  }

  // AM/PM toggle text
  & .owl-dt-control-button-content
  {
    font-size: $font-size-body;
  }
}

// Month/Year, Cancel, and Set buttons
.owl-dt-control.owl-dt-control-button.owl-dt-container-control-button,
.owl-dt-control-content.owl-dt-control-button-content
{
  color: $accent-color-primary;

  &:hover
  {
    background: $coconut;
    color: $accent-color-primary-hover;
  }
}