<div class="container-fluid">
  <div class="row mb-5">
    <div class="col">
      <h1>Epsilon Blueprint</h1>
    </div>
  </div>

  <div class="row">
    <div class="col mb-2">
      <h2>Components</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <bp-search
        label="Search"
        placeholder="Search Components"
        [isSearching]="isSearching"
        (search)="searchComponents($event)"
        (clearSearch)="clearSearch($event)"
      ></bp-search>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li *ngFor="let component of filteredComponents">
          <a routerLink="{{ component.route }}">{{ component.text }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>