@import "../../../../dist/epsilon-blueprint/styles/global-variables";

details
{
  & > summary
  {
    display: inline-block;
    list-style: none;

    &::after
    {
      margin-left: 5px;
      content: $icon-chevron-right;
      font-weight: $font-weight-semi-bold;
      font-size: 0.875em;
      font-family: $font-family-icon;
    }

    &::-webkit-details-marker
    {
      display: none;
    }
  }

  &[open]
  {
    & > summary
    {
      margin-bottom: 1rem;

      &::after
      {
        content: $icon-chevron-down;
      }
    }
  }
}