@import '../../../../dist/epsilon-blueprint/styles/global-variables';

details
{
  & > summary
  {
    display: inline-block;
    list-style: none;
  
    &::after
    {
      content: $icon-chevron-right;
      margin-left: 5px;
      font-family: $font-family-icon;
      font-weight: $font-weight-semi-bold;
      font-size: 0.875em;
    }
  
    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] > summary::after
  {
    content: $icon-chevron-down;
  }
}