@import '../../../../styles/global-variables';

dl {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  > * {
    flex: 1 1 300px;
  }
}

a {
  display: inline-block;
  margin: 10px 0 20px 0;
}

.property {
  margin: 10px;
  border: 1px solid $border-color-primary;
  padding: 5px 10px;
}