@import '../../../dist/epsilon-blueprint/styles/global-variables';

.card
{
  margin-bottom: 30px;
  border-radius: 0;
  border-color: $border-color-secondary;

  &.component-wrap
  {
    overflow-y: hidden;

    .card-body
    {
      margin-bottom: -40px;

      .component
      {
        display: inline-block;
        margin-bottom: 40px;
      }
    }
  }
}

.card-body
{
  &.component-preview
  {
    padding: 30px;
  }
}