@import "../../../dist/epsilon-blueprint/styles/global-variables";

// --------------------------------------------------------------------------------------
// DO NOT COPY THIS STYLESHEET INTO PRODUCTS.
// It contains styles used for component demonstrations specifically within Blueprint UI.
// --------------------------------------------------------------------------------------

// We add margin-top to headings for vertical spacing in our docs
// stylelint-disable no-descending-specificity

$font-color-code: #e1088a; // only used in Blueprint UI

h2
{
  margin-top: 40px;
}

h3
{
  margin-top: 30px;
}

h4
{
  margin-top: 20px;
}

code,
pre,
pre > code
{
  color: $font-color-code;
}

abbr
{
  &[title]
  {
    text-decoration: none;
  }
}

.component-description
{
  font-size: $font-size-body-lead;

  &:last-of-type
  {
    margin-bottom: 3rem; // maps to Bootstrap's .mb-5 spacing utility
  }
}

.inline-details
{
  dt,
  dd
  {
    display: inline;
  }

  dt
  {
    font-weight: $font-weight-regular;

    &::after
    {
      content: ":\00a0";
    }
  }

  dd
  {
    font-weight: $font-weight-semi-bold;
  }
}

.card
{
  border-radius: 0;
  border-color: $border-color-secondary;

  .card-header
  {
    border-bottom-color: $border-color-primary;
    padding: 25px 20px;
    background: $mist;
    font-size: $font-size-xl;

    &:first-child
    {
      border-radius: 0;
    }
  }

  &.component-wrap
  {
    overflow-y: hidden;

    .card-body
    {
      margin-bottom: -40px;

      .component
      {
        display: inline-block;
        margin-bottom: 40px;
      }
    }
  }
}

.card-body
{
  &.component-preview
  {
    padding: 30px;
  }
}