@import "../../../dist/epsilon-blueprint/styles/global-variables";

.navbar
{
  z-index: 1001;
  box-shadow: $box-shadow-nav-primary;
  padding: 0;
  background: $coconut;
}

.logo-link
{
  display: flex;
  align-items: center;
  color: $font-color-primary;

  .navbar-brand
  {
    height: 30px;
    margin: 1rem;
    padding: 0;
    font-size: 0;
  }

  .page-title
  {
    margin: 0;
  }
}