@import '../../../dist/epsilon-blueprint/styles/global-variables';

.navbar
{
  box-shadow: 0 0 7px 0 rgba(11, 66, 168, 0.2); /* use $cobalt variable with Sass */
  padding: 0;
  background: $coconut;
  z-index: 5;
}

.navbar-brand
{
  height: 30px;
  margin: 1rem;
  padding: 0;
  font-size: 0;
}