@import '../global-variables';

.logo-link
{
  display: flex;
  align-items: center;
  color: $font-color-primary;

  .page-title
  {
    margin: 0;
  }
}


.nav-secodnary
{
  ul > li
  {
    margin-bottom: .5rem;
  }
  
  ul > li > ul > li
  {
    margin-bottom: .25rem;
  }
  
  ul:last-child
  {
    margin-bottom: 1rem;
  }
}

.emphasis
{
  color: $font-color-secondary;
  font-style: italic;
}

.code-do,
.code-dont
{
  display: block;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
}

.code-do .fas,
.code-dont .fas
{
  margin-right: 3px;
}

.code-do i
{
  color: $feedback-color-success;
}

.code-dont i
{
  color: $feedback-color-warning;
}
