@import 'projects/epsilon-blueprint/src/styles/_global-variables';

.component-preview
{
  padding: 0;
}

.secondary-nav-demo
{
  display: block;
  max-width: 200px;
}

.demo-layout
{
  display: flex;

  .demo-main
  {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: $cloud;
  }
}