@import 'projects/epsilon-blueprint/src/styles/_global-variables';

.object-page-header
{
  border-bottom: 1px solid $border-color-primary;
  background: $mist;
}

.object-page-header-input
{
  height: 35px;
  padding: 2px 10px 3px;
  font-size: $font-size-xl;
}