/* You can add global styles to this file, and also import other style files */
@import "./styles/_global-variables";
@import "./styles/typography";
@import "./styles/focus";
@import "./styles/tables";
@import "./styles/buttons-links";
@import "./styles/dropdowns";
@import "./styles/forms";
@import "./styles/status-indicators";
@import "./styles/ng-select";

// Blueprint UI Styles
@import './styles/blueprint-ui-styles/nav-primary';
@import './styles/blueprint-ui-styles/nav-secondary';
@import './styles/blueprint-ui-styles/typography';

body
{
    color: $font-color-primary;
    font-family: $font-family-default;
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
}

:focus,
button:focus
{
    outline: none;
    box-shadow: $box-shadow-focus-default;
}

/* grid overrides */
.container,
.container-fluid
{
  padding-right: 20px;
  padding-left: 20px;
}

.row
{
  margin-right: -20px;
  margin-left: -20px;
}

.col,
[class^="col-"]
{
  padding-right: 20px;
  padding-left: 20px;
}

/* page-level styling */
.app-body
{
  position: relative;
  display: flex;
  overflow: visible;
  margin-top: 54px;
}

.app-main
{
  flex: 1;
  overflow-x: auto;
}

.main
{
  margin: 1rem 0;
}

.page-header
{
  margin-bottom: 40px;
  border-bottom: 1px solid $border-color-primary;
  padding: 25px 0;
  background: $cloud;
}