<bp-landing-page-header [headingText]="headingText" [showButton]="false">
  <div tab-items>
    <div class="row">
      <div class="col">
        <a
          class="tab"
          routerLink="./overview"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Overview
        </a>
        <a
          class="tab"
          routerLink="./usage"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Usage
        </a>
        <a
          class="tab"
          routerLink="./playground"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Playground
        </a>
        <a
          class="tab"
          routerLink="./api"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          API
        </a>
      </div>
    </div>
  </div>
</bp-landing-page-header>
